div.common {
  display: flex;
  color: white;
  background-color: hsl(233, 47%, 7%);
  height: 550px;
  width: 1000px;
  position: absolute;
  left: 210px;
  top: 20px;
}
div.main {
  display: flex;
  position: absolute;
  top: 100px;
  left: 160px;
  width: 700px;
  height: 350px;
}
div.main > div.left {
  background-color: hsl(244, 38%, 16%);
  justify-content: center;
  flex: 1;
  width: 300px;
  height: 300px;
  border-radius: 5px;
}
div.main > div.left > h1 {
  padding: 8px;
}
div.main > div.left > p {
  padding: 8px;
  color: #9c9c9c;
}
div.main > div.left>div.statistics h2{
    margin: 5px;
    text-align: center;
}
div.main > div.left>div.statistics p{
    text-align: center;
    color: #9c9c9c;
}
div.main > div.right {
  background-color: hsl(244, 38%, 16%);
  flex: 1;
  display: flex;
  width: 300px;
  height: 300px;
  border-bottom-right-radius: 5px;
}
div.main > div.right > img {
  flex: 1;
}
div.main > div.left > div.statistics {
  display: flex;
}
div.main > div.left > div.statistics > div {
  flex-direction: column;
  padding: 8px;
}
